@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: url(../img/fone.png) center no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
}
a {
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    color: white;
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 50px;
}
.container__subtitle {
    color: rgb(221, 221, 221);
    font-size: 18px;
    margin-bottom: 25px;
}
.content--politica {
    max-width: 800px;
    margin: 0px auto;
    font-family: Arial;
    padding: 20px 40px 40px 40px;
    border: 1px solid #DADADA;
    line-height: 20px;
    margin-bottom: 20px;
}
.container__content--title {
    color: #3B6A7C;
    margin-bottom: 30px;
    text-align: center;
    line-height: 30px;
}
.container__content--subtitle {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.container__content--text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.telegram {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.telegram-logo {
    width: 45px;
    height: 45px;
}
@media  screen and (max-width: 512px) {
    .logo {
        font-size: 32px;
        margin-top: 25%;
    }
    .container__subtitle {
        font-size: 14px;
    }
    .content--politica {
        border: none;
    }
}