@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: url(../img/fone.png) center no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
}
a {
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    color: white;
    margin-top: 50%;
    margin-bottom: 10px;
    font-size: 50px;
}
.container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__subtitle {
    color: rgb(221, 221, 221);
    font-size: 18px;
    margin-bottom: 15px;
}
.container__form {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 30px;
    align-items: center;
}
.form-row_info {
    background-image: none !important;
    border-color: #ececec;
    background-color: #ececec;
    margin: 0px 10px;
    padding: 0 10px;
    width: 250px;
    height: 45px;
    border-radius: 30px;
    border: solid 1px #ccc;
    font-size: 17px;
    margin-right: 20px;
    margin-bottom: 20px;
}
option {
    color: -internal-light-dark(rgb(170, 170, 170));
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.form-row__container {
    display: flex;
    flex-direction: column;
}
.form-row_text {
    width: 300px;
    display: block;
    color: white;

}
.accept {
    padding-left: 25px;
    position: relative;
    min-width: 0%;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #120f09;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accept-input {
    margin-right: 5px;
}
.form-row__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.form-row__submit--btn {
    background-color: #FCE000;
    border-radius: 16px;
    width: 138px;
    height: 49px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    transition: .3s all ;
}
.form-row__submit--btn:hover {
    background-color: #e2cb18;

}
.footer {
    display: flex;
    align-items: center;
    height: 200px;
    flex-direction: column;
    margin-top: 70px;
}
.footer__title {
    color: white;
    font-size: 24px;
}
.footer__politics {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer__politics--btn {
    color: white;
    font-size: 11px;
    text-decoration: none;
}
.success-btn {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: .3s all;
}
.success-btn:hover {
    background-color: white;
    color: #000;
}

.success-text {
    text-align: center;
    line-height: 30px;
    font-weight: 300;
}
.telegram {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.telegram-logo {
    width: 45px;
    height: 45px;
}
@media  screen and (max-width: 644px) {
    br {
        display: none;
    }
    .form-row {
        justify-content: center;
        flex-direction: column;
    }
    .form-row__container {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-row_text {
        width: 80%;
        text-align: center;
    }
    .form-row_info {
        width: 500px;
        margin-right: 0px;
    }
    .accept {
        margin-top: -30px;
    }
}
@media  screen and (max-width: 580px) {
    .form-row_info {
        width: 390px;
        margin-bottom: 2px;
    }
    .form-row_text {
        width: 80%;
        text-align: center;
    }
    .form-row__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media  screen and (max-width: 512px) {
    .form-row_info {
        width: 300px;
        height: 30px;
        margin-bottom: 5px;
    }
    .form-row_text {
        width: 80%;
        text-align: center;
    }
    .form-row__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer {
        margin-top: 100px;
    }
    .footer__politics {
        margin-top: 20px;
    }
    .logo {
        font-size: 32px;
    }
    .container__subtitle {
        font-size: 14px;
    }
    .footer__title {
        font-size: 18px;
    }
    .footer__politics--btn {
        font-size: 7px;
    }
    .form-row {
        justify-content: center;
    }
    .container__form {
        margin: 0;
    }

}